
{% extends "blog/base.html"%}
{% block content%}
{% load static %}

    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>

{% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" 
             src="{% if post.author.profile and post.author.profile.image %}{{ post.author.profile.image.url }}{% else %}{% static 'images/default.jpg' %}{% endif %}" 
             alt="Img">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endfor %}


    {% if is_paginated %}


    {% if page_obj.has_previous %}
        <a class=" btn btn-outline-info mb-4 " href="?page=1" style="background-color: #BC9F8B; border-color: #BC9F8B;color:white; " onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
        onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">First</a>
        <a class=" btn btn-outline-info mb-4 " href="?page={{ page_obj.previous_page_number }}"style="background-color: #BC9F8B; border-color: #BC9F8B;color:white; " onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
        onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">Previous</a>
    {% endif %}


    {% for num in page_obj.paginator.page_range %}

      {% if page_obj.number == num %}
        <a class=" btn btn-info mb-4 " href="?page={{ num }}"style="background-color: #BC9F8B; border-color: #BC9F8B;color:white; " onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
        onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">{{ num }}</a>

      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class=" btn btn-outline-info mb-4 " href="?page={{ num }}"style="background-color: #BC9F8B; border-color: #BC9F8B;color:white; " onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
        onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">{{ num }}</a>

      {% endif %}

    {% endfor %}


    {% if page_obj.has_next %}
    <a class=" btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number }} " style="background-color: #BC9F8B; border-color: #BC9F8B; color:white;" onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
    onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">Next</a>

    <a class=" btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number}}" style="background-color: #BC9F8B; border-color: #BC9F8B;color:white; " onmouseover="this.style.color='black';this.style.backgroundColor='#914F1E';" 
    onmouseout="this.style.color='white';this.style.backgroundColor='#BC9F8B';">Last</a>
    {% endif %}


  {% endif %}

{% endblock content%}
